[user]
        name = Jonathan Trang
        email = jonathan.trang@schibsted.com
[alias]
        br = branch -v
        ba = branch -va
        cm = commit -v
        co = checkout
        st = status
        ru = remote update
        nlog = log --name-status --decorate
        ls = log --pretty=oneline --abbrev-commit --decorate
        ls = log --pretty=oneline --abbrev-commit --decorate --graph
        ctags = !.git/hooks/ctags
        review = !git-review
[color]
        ui = auto
[merge]
        summary = true
[init]
        templatedir = ~/.git_template
[core]
        editor = vim
[gitreview]
        remote = origin
